extends base
block content 
    .leftOfPageMenu
        h2 My Product Listings
        - let myName = `${user.name}`
        - let myEmail = `${user.email}`
        - let myId = `${user._id}`
        form.meSettingsMyProducts
            - var totalProducts = `${userProducts.length}`
            table 
                tr
                    th Product Name
                    th Subject
                    th Category
                    th Grade
                    //- th ISBN 
                    th Product Link 
                    th Action 
                - for( currentProduct = 0; currentProduct < totalProducts; currentProduct++ )
                    - var productName = `${userProducts[currentProduct].name}`
                    - var subject = `${userProducts[currentProduct].subject}`
                    - var category = `${userProducts[currentProduct].category}`
                    - var grade = `${userProducts[currentProduct].grade}`
                    - var ISBN = `${userProducts[currentProduct].isbn}`
                    - var id = `${userProducts[currentProduct]._id}`
                    tr
                        td #{productName}
                        td #{subject} 
                        td #{category}
                        td #{grade}
                        //- td #{ISBN}
                        td 
                            a(href= `/products/${id}` ) Product Detail
                        td 
                            a(href= `/products/drop/${id}/${myEmail}/${myId}` ) Stop selling this product
            br
            br
    .leftOfPageMenu
        h2 My Product Bids 
        form.meSettingsMyBids
            - var totalBids = `${user.myBidItems.length}`
            table 
                tr
                    th Product Name
                    th Vendor Name
                    th Subject
                    th Category
                    th Grade
                    th Bid Date 
                - for( currentBid = 0; currentBid < totalBids; currentBid++ )
                    - var productName = `${user.myBidItems[currentBid].itemName}`
                    - var vendorName = `${user.myBidItems[currentBid].vendor}`
                    - var subject = `${user.myBidItems[currentBid].subject}`
                    - var category = `${user.myBidItems[currentBid].category}`
                    - var grade = `${user.myBidItems[currentBid].grade}`
                    - var bidDate = `${user.myBidItems[currentBid].bidDate}`
                    tr
                        td #{productName}
                        td #{vendorName}
                        td #{subject} 
                        td #{category}
                        td #{grade}
                        td #{bidDate}
            br
            br