extends base
block content 
    .boxSection#justAdded
        h3.bodyBoxHeading Search Results
        .bodyBoxDetails
            //- each product in searchProducts
            //-     .boxIMG
            //-         a(href=`/products/${product._id}`)
            //-             img.imgFormat( src=`/img/products/${product.imageCover}` alt=`${product.name}`)
            //-         ul.bookDetails
            //-             li= `Name : ${product.name}`
            //-             li= `Grade : ${product.grade}`
            //-             li= `Subject : ${product.subject}`
            //-             li= `No. of Vendors : ${product.vendors.length}`