extends base
block content 
    .boxSection#justAdded
        if title === 'Search Results'
            h3.bodyBoxHeading Search Results
        else
            if title === 'Free Products'
                h3.bodyBoxHeading Free Products
            else
                h3.bodyBoxHeading Just Added
        .bodyBoxDetails
            each product in products
                .boxIMG
                    a(href=`/products/${product._id}`)
                        img.imgFormat( src=`/img/products/${product.imageCover}` alt=`${product.name}`)
                    ul.bookDetails
                        li= `Name : ${product.name}`
                        li= `Grade : ${product.grade}`
                        li= `Subject : ${product.subject}`
                        li= `No. of Vendors : ${product.vendors.length}`