extends base
block content 
    .productDetail
        h1= `This is the product detail page for ${product.name}`
        img.imgFormat( src=`/img/products/${product.imageCover}` alt=`${product.name}`)
        ul.bookDetails
            li= `Grade : ${product.grade}`
            li= `Subject : ${product.subject}`
            li= `No. of Vendors : ${product.vendors.length}`
            #vendorDetails
                h3 Vendor Details
                //- - var currentVendor = 0
                - var totalVendors = `${product.vendors.length}`
                table 
                    tr
                        th Vendor Name
                        th Selling Price
                        th Product Condition
                        th Sold??
                        th Click to Bid
                    - for( currentVendor = 0; currentVendor < totalVendors; currentVendor++ )
                        - var vendor = `${product.vendors[currentVendor].vname}`
                        - var sp = `${product.vendors[currentVendor].sellingPrice}`
                        - var condition = `${product.vendors[currentVendor].condition}`
                        - var sold = `${product.vendors[currentVendor].sold}`
                        tr
                            td #{vendor} 
                            td #{sp} 
                            td #{condition}
                            td #{sold}
                            td 
                                a(href= vendor ) Bid